<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gameoflife.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C1058B11F719A4D00E14F38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C1058CB1F719A4F00E14F38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C1058D61F719A4F00E14F38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
